<!DOCTYPE html>
<html>
  <head>
    <title>Small preview</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
      <div class="nav">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/blog">Блог</a></li>
          <li><a href="/offender">Таблица нарушителей</a></li>
        </ul>
      </div>
      <div class="log">
        <% if (isLogged != 1) {%>
        <form action="" method="post">
          <input type="text" placeholder="Логин" name="login" id="login">
          <input type="password" placeholder="Пароль" name="password" id="password">
          <input type="submit" value="Подтвердить" id="submit">
        </form>
        <%} else if (isLogged == 1){%>
        <form action="" method="post">
          <input type="button" value="Выйти" id="logout">
        </form>
        <% } %>
      </div>
    </header>
    <section class="offender">
      <% for (key in list) {%>
        <div class="row">
        <% for (key1 in list[key]) {%>
          <div class="col">

          <% if (isLogged != 1) {%>
            <p><%= list[key][key1]%></p>
          <%} else if (isLogged == 1){%>
            <%if (key1 == 'date' || key1 == 5) { %>
            <script>
              var date = new Date('<%-list[key][key1]%>'),
                      mm = date.getMonth()+1,
                      dd = date.getDay(),
                      yyyy = date.getFullYear();
              var formDate = mm+'/'+dd+'/'+yyyy;
              console.log(formDate);
              var x = document.createElement("INPUT");
              x.setAttribute("type", "date");
              x.setAttribute("value", formDate);
              document.body.appendChild(x);
            </script>
            <% continue;}%>
            <textarea><%= list[key][key1] %></textarea>
          <% } %>
          </div>

        <% } %>
        </div>
      <% if (isLogged == 1){%>
      <div class="actions">
        <button class="edit">edit</button>
        <button class="remove">remove</button>
      </div>
      <% } %>
      <% } %>
    </section>
    <script>
      function setCookie(name, value, options) {
        options = options || {};

        var expires = options.expires;

        if (typeof expires == "number" && expires) {
          var d = new Date();
          d.setTime(d.getTime() + expires * 1000);
          expires = options.expires = d;
        }
        if (expires && expires.toUTCString) {
          options.expires = expires.toUTCString();
        }
        value = encodeURIComponent(value);

        var updatedCookie = name + "=" + value;

        for (var propName in options) {
          updatedCookie += "; " + propName;
          var propValue = options[propName];
          if (propValue !== true) {
            updatedCookie += "=" + propValue;
          }
        }
        document.cookie = updatedCookie;
      }
      $('#submit').click(function() {
        $.ajax({
          url: '/',
          type: 'POST',
          cache: false,
          data: { login: $('#login').val(), password: $('#password').val() },
          success: function(data){
//            alert('Success!');
            $('#login').val('');
            $('#password').val('');
            window.location.reload();
            window.location.reload();
            window.location.reload();
          },
          error: function(jqXHR, textStatus, err){
            console.log('text status '+textStatus+', err '+err)
            window.location.reload();
          }
        });
        window.location.reload();
      });
      $('#logout').click(function() {
        $.ajax({
          url: '/logout',
          type: 'POST',
          cache: false,
          success: function () {
            window.location.reload();
            window.location.reload();
            window.location.reload();
          },
          error: function () {
//            alert('NO!')
          }
        });
      });
    </script>
  </body>
</html>
