<!DOCTYPE html>
<html>
  <head>
    <title>Small preview</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <link type="text/css" href="/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link type="text/css" href="/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>


    <meta charset="utf-8">
  </head>
  <body>

    <header>
      <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
      <div class="nav">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/blog">Блог</a></li>
          <li><a href="/offender">Таблица нарушителей</a></li>
        </ul>
      </div>
      <div class="log">
        <% if (isLogged != 1) {%>
        <form action="" method="post">
          <input type="text" placeholder="Логин" name="login" id="login">
          <input type="password" placeholder="Пароль" name="password" id="password">
          <input type="submit" value="Подтвердить" id="submit">
        </form>
        <%} else if (isLogged == 1){%>
        <form action="" method="post">
          <input type="button" value="Выйти" id="logout">
        </form>
        <% } %>
      </div>
    </header>
    <section class="offender">
      <% if (isLogged == 1){%>
      <div class="row">
        <textarea></textarea>
        <textarea></textarea>
        <textarea></textarea>
        <textarea></textarea>
        <input type="text" class="datepicker">
        <textarea></textarea>
        <div class="actions">
          <button class="apply">apply</button>
        </div>
      </div>
      <% } %>
      <% for (key in list) {%>
        <div class="row">
        <% for (key1 in list[key]) {%>
          <% if (isLogged != 1) {%>
            <p><%= list[key][key1]%></p>
          <%} else if (isLogged == 1){%>
            <%if (key1 == 'date' || key1 == 5) { %>
            <script>
              function getDate(srt) {
                var date = new Date(srt),
                        mm = date.getMonth()+1,
                        dd = date.getDate(),
                        yyyy = date.getFullYear();
                return mm+'/'+dd+'/'+yyyy;
              }
              var x = document.createElement("INPUT");
              x.setAttribute("type", "text");
              x.setAttribute("class", "datepicker");
              x.setAttribute("value", getDate('<%-list[key][key1]%>'));
              var closestAct = $('div').last('.row');
              $(x).appendTo(closestAct);
            </script>
            <% continue;}%>
            <textarea><%= list[key][key1] %></textarea>
          <% } %>

        <% } %>
          <% if (isLogged == 1){%>
          <div class="actions">
            <button class="edit">edit</button>
            <button class="remove">remove</button>
          </div>
          <% } %>
        </div>

      <% } %>
    </section>
    <section class="blog">
      <div class="blog">
        <h1></h1>
        <p></p>
        <author></author>
      </div>
    </section>
    <script>
      $('.actions').click(function(e) {
        var target = e.target;
        var closestrow = $(target).closest('.row');
        var id = $(closestrow).find('textarea')[0];
        var fullName = $(closestrow).find('textarea')[1];
        var number = $(closestrow).find('textarea')[2];
        var block = $(closestrow).find('textarea')[3];
        var room = $(closestrow).find('textarea')[4];
        var date = $(closestrow).find('input')[0];
        var offender = $(closestrow).find('textarea')[5];
        id = $(id).val();
        fullName = $(fullName).val();
        number = $(number).val();
        block = $(block).val();
        room = $(room).val();
        date = new Date($(date).val());
        date = date.toString();
        offender = $(offender).val();
//        console.log(id + ' ' + fullName + ' ' + number
//                + ' ' + ' ' + block + ' ' + room + ' '
//                + date + ' ' + offender);
        if (target.className == 'edit') {
          $.ajax({
            url: '/update',
            type: 'POST',
            cache: false,
            data: {id: id, fullName: fullName, number: number,
              block: block, room: room, date: date, offender: offender},
            success: function(data){
              window.alert('Success!');
            },
            error: function(jqXHR, textStatus, err){
              console.log('text status '+textStatus+', err '+err)
//              window.location.reload();
            }
          });
        }
        if (target.className == 'remove') {
          $.ajax({
            url: '/remove',
            type: 'POST',
            cache: false,
            data: {id: id},
            success: function(data){
              window.alert('Success!');
            },
            error: function(jqXHR, textStatus, err){
              console.log('text status '+textStatus+', err '+err)
//              window.location.reload();
            }
          });
        }
        if (target.className == 'apply') {
          fullName = $(closestrow).find('textarea')[0];
          number = $(closestrow).find('textarea')[1];
          block = $(closestrow).find('textarea')[2];
          room = $(closestrow).find('textarea')[3];
          date = $(closestrow).find('input')[0];
          offender = $(closestrow).find('textarea')[4];
          fullName = $(fullName).val();
          number = $(number).val();
          block = $(block).val();
          room = $(room).val();
          date = new Date($(date).val());
          date = date.toString();
          offender = $(offender).val();
          $.ajax({
            url: '/insert',
            type: 'POST',
            cache: false,
            data: {fullName: fullName, number: number,
              block: block, room: room, date: date, offender: offender},
            success: function(data){
              window.alert('Success!');
            },
            error: function(jqXHR, textStatus, err){
              console.log('text status '+textStatus+', err '+err)
//              window.location.reload();
            }
          });
        }
        window.location.reload();
      });
      $(function(){
        $.datepicker.setDefaults(
                $.extend( $.datepicker.regional[ '' ] )
        );
        $( '.datepicker' ).datepicker();
      });
      function setCookie(name, value, options) {
        options = options || {};

        var expires = options.expires;

        if (typeof expires == "number" && expires) {
          var d = new Date();
          d.setTime(d.getTime() + expires * 1000);
          expires = options.expires = d;
        }
        if (expires && expires.toUTCString) {
          options.expires = expires.toUTCString();
        }
        value = encodeURIComponent(value);

        var updatedCookie = name + "=" + value;

        for (var propName in options) {
          updatedCookie += "; " + propName;
          var propValue = options[propName];
          if (propValue !== true) {
            updatedCookie += "=" + propValue;
          }
        }
        document.cookie = updatedCookie;
      }
      $('#submit').click(function() {
        $.ajax({
          url: '/',
          type: 'POST',
          cache: false,
          data: { login: $('#login').val(), password: $('#password').val() },
          success: function(data){
//            alert('Success!');
            $('#login').val('');
            $('#password').val('');
            window.location.reload();
            window.location.reload();
            window.location.reload();
          },
          error: function(jqXHR, textStatus, err){
            console.log('text status '+textStatus+', err '+err)
            window.location.reload();
          }
        });
        window.location.reload();
      });
      $('#logout').click(function() {
        $.ajax({
          url: '/logout',
          type: 'POST',
          cache: false,
          success: function () {
            window.location.reload();
            window.location.reload();
            window.location.reload();
          },
          error: function () {
//            alert('NO!')
          }
        });
      });
    </script>
  </body>
</html>
