div.wrapper {
    background: #c4c4c4;
    width: 80%;
    margin: 0 auto;
}
header {
    background: #abef98;
    width: 100%;
}
div.logo {
    display: inline-block;
    width: 20%;
    background: #007fff;
}
.logo img {
    width: 100%;
}
div.log {
    padding: 2% 5%;
    float: right;
    width: 25%;
}
.log input {
    display: block;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
.log input[type=submit] {
    width: auto;
    float: right;
    height: 30px;
    text-transform: uppercase;
}
section.offender {
    background: yellow;
    margin-top: 20px;
    padding: 0 5%;
}
div.row {
    display: block;
    margin-bottom: 10px;
    clear: both;
    margin-right: 5%;
}
.row p {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    padding: 5px;
}
.row p:nth-child(1) {
    display: none;
}
.row p:nth-child(2) {
    width: 250px;
    word-wrap: break-word;
    max-width: 250px;
}
.row p:nth-child(3),
.row p:nth-child(4),
.row p:nth-child(5) {
    width: 25px;
    text-align: center;
    background: #a7dbd8;
}
.row p:nth-child(6) {
    
}

